/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

polkit.addRule(function(action, subject) {
	if (action.id == "org.freedesktop.consolekit.system.stop" ||
		action.id == "org.freedesktop.consolekit.system.restart" ||
		action.id == "org.freedesktop.consolekit.system.hibernate" ||
		action.id == "org.freedesktop.consolekit.system.suspend" ||
		action.id == "org.freedesktop.consolekit.system.restart-multiple-users" ||
		action.id == "org.freedesktop.consolekit.system.suspend-multiple-users" ||
		action.id == "org.freedesktop.consolekit.system.stop-multiple-users") {
		return polkit.Result.YES;
	}
});
