[D-BUS Service]
Name=org.gtk.Private.UDisks2VolumeMonitor
Exec=/home/artux/Projekte/pkgbuilds/gvfs-nosystemd/src/gvfs-1.20.1/monitor/udisks2/gvfs-udisks2-volume-monitor
